@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.contact-form {
  background: aliceblue;
  padding: 0px 15px 15px;
}

.ui.basic.table td:first-child {
  color: #888b94;
}

.top-menu {
  padding: 30px 0;
}

.masthead.segment {
  padding: 0em 0em 3em;
  background: #006fa5 !important;
  background: #005c88 !important;
  background: linear-gradient(90deg, #005c88 0%, #29a4e0 50%, #005c88 100%) !important;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h2.ui.header {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 2em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.3em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 3em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 2em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }

  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .masthead.segment {
    min-height: 350px;
    background: #006fa5 !important;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .top-menu {
    padding: 0px;
  }
}

